body
{
    font-family: arial,helvetica,sans-serif;
	margin-left: 20%;
	margin-right: 20%;
    padding: 5px 10px 5px 10px;
	max-width: 800px;
	min-width: 560px;
}
/*Desktop - Default*/
#GMIOY
{
    display:none;
}
#message
{
   display:none;
}
#ILTW
{
    padding-left:10px;
    font-weight:bold;
}
#GMIP
{
    display:none;
}
#lectures
{
	width: 560px;
    height: 321px;
	padding: 10px;
}
banner
{
    background-image: url('beans.jpeg')
}
h1
{
	color: #fff;
	background-image: url('beans.jpeg');
	font-size: 50px;
	padding-left: 5px;
	text-shadow: 3px 3px #333333;
	margin-bottom: 3px;
	border: 1px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px 3px #888888;
}
#logo
{
    margin-top: 10px;
    float: left;
    color:#333;
    width:344px;
    height:258px;
    padding:-5px 10px;
    background-image: url('reynir.jpg');
    background-repeat: no-repeat;
}
#navigation
{
    float:right;
    list-style:none;
    padding-left: 0;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    border-right:1px solid #333;
    background-color:#cc6600;
    border-radius: 3px;
    box-shadow: 2px 2px 1px;
}
#navigation li
{
    border-left: 1px solid #333;
    color:#fff; 
    float: left;
    padding: 4px 5px;
}
#navigation a
    {
        text-decoration:none;
        color:#fff;
    }
    
#navigation a:hover
    {
        color:#333;
    }
#clear
{
    clear:both;
}
/*Ipad*/
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px)
{
	body
	{
		margin-left: 10%;
		margin-right: 10%;
	}
    #navigation
    {
        margin-right: 10px;
    }
    #GMIOY
    {
        display:none;
    }
    #GMIP
    {
        display:block;
    }
    #banner
    {
        color: #fff;
	    background-image: url('apl.jpeg');
        border-radius: 3px;
        box-shadow: 2px 2px 1px;
        margin-right:10px;
        
    }
    #logo
    {
        background: url('IRead.jpg');
        background-repeat:no-repeat;
        width: 440px;
        color:#ffffff;
    }
    #message
    {
        display:none;
    }
    h1
    {
        font-size: 30px;
	    text-shadow: 2px 2px #333333;
    }
    #GMIP
    {
        display:block;
    }
    #GMIOY
    {
        display:none;
        color:#fff;
        font-size:15px;
        font-weight:bold;
    }
    #ILTW
    {
        display:none;
    }
}
/*Smart phones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
	body
	{
		min-width: 320px;
		margin: 0px;
	}
    #navigation
    {
        margin-right: 10px;
    }
	#lectures
	{
		width: 320px;
		height: 188px;
		padding: 10px;
	}
    #banner
    {
        color: #fff;
	    background-image: url('beans.jpeg');
        background-size:100%;
        border-radius: 3px;
        box-shadow: 2px 2px 1px;
        margin-right:10px;
        
    }
    #logo
    {
        background: url('ICUReynir.jpg');
        background-repeat:no-repeat;
        width: 100px;
        height: 100px;
        color:#ffffff;
    }
    h1
    {
        font-size: 30px;
	    text-shadow: 2px 2px #333333;
    }
    #message
    {
        display:block;
    }
    #GMIOY
    {
        display:block;
        color:#fff;
        font-size:15px;
        font-weight:bold;
    }
    #ILTW
    {
        display:none;
    }
}
