body
{
    font-family: arial,helvetica,sans-serif;
	margin: 15px 0px 0px 15px;
    padding: 5px 10px 5px 10px;
}

#GMIOY
{
    display:none;
}
#message
{
   display:none;
}
h1
{
	color: #fff;
	background-image: url('beans.jpeg');
	font-size: 50px;
	padding-left: 5px;
	text-shadow: 3px 3px #333333;
	margin-bottom: 3px;
	border: 1px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px 3px #888888;
    min-width:750px;
}
#logo
{
    margin-top: 10px;
    float: left;
    color:#f00;
    width:344px;
    height:258px;
    padding:-5px 10px;
    background-image: url('reynir.jpg');
    background-repeat: no-repeat;
}
#navigation
{
    float:right;
    list-style:none;
    padding-left: 0;
    border:5px solid fuchsia;
    /*background-color:#333;*/
}
#navigation li
{
    color:#fff; 
    float: left;
    padding: 4px 5px;
}
#clear
{
    clear:both;
}
@media only screen and (max-device-width: 720px)
{
    #logo
    {
        background: url('ICUReynir.jpg');
        background-repeat:no-repeat;
        width: 440px;
        color:#ffffff;
    }
    h1
    {
	    color: #fff;
	    background-image: url('beans.jpeg');
	    font-size: 30px;
	    text-shadow: 2px 2px #333333;
        border-radius: 3px;
        box-shadow: 2px 2px 1px;
    }
    #message
    {
        display:block;
    }
    #GMIOY
    {
        display:block;
        color:#fff;
        font-size:15px;
        font-weight:bold;
    }
    #ILTW
    {
        display:none;
    }
}